:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.control-panel-style {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  color: #002B48;
}

.control-panel {
  position: absolute;
  top: 25px;
  left: 10px;
  padding: 10px;
  z-index: 1;
}

.desktop-information-panel {
  position: absolute;
  top: 25px;
  right: 10px;
  padding: 10px;
  z-index: 1;
}

.header-banner {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #ffffffc3;
  color: #002B48;
  width: 100%;
  z-index: 1;
}

h1, h2, h3, h4, h5 {
  margin: 0
}

h3 {
  font-size: 1.0rem;
  font-weight: 600;
  line-height: 1.334;
  margin: 0;
}

.maplibregl-popup-content {
  border-radius: 10px;
  color: #242424
}

.maplibregl-popup-close-button {
  color: #242424

}

.popup-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.popup-content ul {
  list-style: none;
  padding: 0;
}

.popup-content li {
  margin: 5px 0;
}

.popup-content ul ul {
  margin-left: 15px; /* Indent nested lists */
}

.popup-content li strong {
  display: inline-block;
  width: 80px; /* Align day names neatly */
}

/* This hides the component by default */
.mobile-only {
  display: none !important;
}

/* This media query makes it visible only on screens up to 640px wide */
@media (max-width: 768px) {
  .mobile-only {
    display: inherit !important;
  }
}

.desktop-only {
  display: inherit;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

.btn-secondary {
  outline: 3px solid;
  border-width: 0px;
}

